h3{
    color: #ff6a2a;
}
main .containerright {
    width: 100%;
    overflow: hidden;
}

main .imageright {
    float: left;
    width: 40%;
    margin-right: 3%;
}

main .textright {
    overflow: hidden;
}

main .containerleft {
    width: 100%;
    overflow: hidden;
}

main .imageleft {
    float: right;
    width: 30%;
    margin-left: 3%;
}

main .textleft {
    overflow: hidden;
}

 .containerleft {
    width: 100%;
    overflow: hidden;
}

 .imageleft {
    float: right;
    width: 40%;
    margin-right: 3%;
}
 .textleft {
    overflow: hidden;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
  }
  .content {
    display: flex;
    align-items: center;
  }
  
  .content img {
    margin-right: 0px;
  }
  .content p{
    margin: 0;
  }


